## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import google_api

# Configure gmaps
gmaps.configure(api_key=google_api)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("hotels.csv")
vacation_df.head()

,City_ID,City,Country,Max Temperature,Description,Latitude (Deg),Longitude (Deg),Hotel Name
0,0,cidreira,BR,70.59,clear sky,-30.1811,-50.2056,Hotel Castelo
1,4,ponta do sol,PT,65.01,broken clouds,32.6667,-17.1000,Hotel do Campo
2,5,mar del plata,AR,69.82,few clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
3,6,wahiawa,US,77.79,few clouds,21.5028,-158.0236,Aloha Wahiawa
4,7,rikitea,PF,75.94,overcast clouds,-23.1203,-134.9692,People ThankYou

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box="""
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temperature	</dt><dd>{Max Temperature} Â°F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
trip_info = [info_box.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Latitude (Deg)", "Longitude (Deg)"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=trip_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='jamalpur']
vacation_end = vacation_df.loc[vacation_df["City"]=="jamalpur"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=='harindanga']
vacation_stop2 = vacation_df.loc[vacation_df["City"]=='arvi']
vacation_stop3 = vacation_df.loc[vacation_df["City"]=='amtala']

vacation_start

vacation_end

vacation_stop1

vacation_stop2

vacation_stop3

,City_ID,City,Country,Max Temperature,Description,Latitude (Deg),Longitude (Deg),Hotel Name
198,521,amtala,IN,67.95,clear sky,22.3714,88.2944,Ibiza The Fern Resort & Spa

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Latitude (Deg)'].to_numpy()[0],vacation_start['Longitude (Deg)'].to_numpy()[0]
end = vacation_end['Latitude (Deg)'].to_numpy()[0],vacation_end['Longitude (Deg)'].to_numpy()[0]
stop1 = vacation_stop1['Latitude (Deg)'].to_numpy()[0],vacation_stop1['Longitude (Deg)'].to_numpy()[0]
stop2 = vacation_stop2['Latitude (Deg)'].to_numpy()[0],vacation_stop2['Longitude (Deg)'].to_numpy()[0]
stop3 = vacation_stop3['Latitude (Deg)'].to_numpy()[0],vacation_stop3['Longitude (Deg)'].to_numpy()[0]

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs
start
stop1
stop2
stop3
end

fig = gmaps.figure()
start2end = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3], travel_mode="WALKING")

fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temperature,Description,Latitude (Deg),Longitude (Deg),Hotel Name
0,606,jamalpur,BD,60.67,clear sky,24.9167,89.9333,College hostel
1,222,harindanga,IN,67.98,clear sky,22.0383,88.3214,Hasanur Builders
2,354,arvi,IN,63.03,clear sky,20.9833,78.2333,Geet shirbhate
3,521,amtala,IN,67.95,clear sky,22.3714,88.2944,Ibiza The Fern Resort & Spa
4,606,jamalpur,BD,60.67,clear sky,24.9167,89.9333,College hostel

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
itinerary_info = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temperature	</dt><dd>{Max Temperature} Â°F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [itinerary_info.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Latitude (Deg)", "Longitude (Deg)"]]

In [18]:
# 4a. Add a marker layer for each city to the map.
marker_layer_itinerary = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig = gmaps.figure()
fig.add_layer(marker_layer_itinerary)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))